
.about {
  background: url(../img/bg-section-1.jpg) no-repeat center top;
  background-color: #EBEBEB;
  .section-content {
    .about-text {
      padding-top: $spacer/2;
      padding-bottom: $spacer/2;
      p {
//        text-indent: 1.5em;
//        text-align: justify;
        font-size: rem(18px);
      }
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
//      margin-top: $spacer*2;
      .grid-row {
        flex: 0 0 auto;
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
      }
      .grid-col {
        flex-direction: column;
      }
      .item {
        align-self: center;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
