.breadcrumbs {
  margin-bottom: 0;
  border-bottom: 1px solid #E5E5E5;
  &>li {
    display: inline-block;
    float: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      color: $gray;
      @include hfa {
        color: lighten($gray,10);
      }
    }
  }
}
