.contact {
  .section-header {
    padding-top: $spacer;
  }
  .section-content {
    padding-top: $spacer;
    ul + img {
      margin-top: $spacer;
    }
    img + img {
      margin-top: $spacer/2;
    }
  }
}
