<section class="container-fluid section address">
  <div class="row">
    <div class="container">
      <div class="row section-content">
        <div class="col-sm-6 col-md-4 col-lg-3 shop">
          <div class="shop-bg" style="background: url(assets/img/ph-shop.jpg); background-size: cover;"></div>
          <div class="text-xs-center">
            <div class="shop-descr">
              <h4>ТЦ “Арена”</h4>
              <hr/>
              <p>ул. Бульвар победы, 23б</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 shop">
          <div class="shop-bg" style="background: url(assets/img/ph-shop.jpg); background-size: cover;"></div>
          <div class="text-xs-center">
            <div class="shop-descr">
              <h4>ТЦ “Арена”</h4>
              <hr/>
              <p>ул. Бульвар победы, 23б</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 shop">
          <div class="shop-bg" style="background: url(assets/img/ph-shop.jpg); background-size: cover;"></div>
          <div class="text-xs-center">
            <div class="shop-descr">
              <h4>ТЦ “Арена”</h4>
              <hr/>
              <p>ул. Бульвар победы, 23б</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 shop">
          <div class="shop-bg" style="background: url(assets/img/ph-shop.jpg); background-size: cover;"></div>
          <div class="text-xs-center">
            <div class="shop-descr">
              <h4>ТЦ “Арена”</h4>
              <hr/>
              <p>ул. Бульвар победы, 23б</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 shop">
          <div class="shop-bg" style="background: url(assets/img/ph-shop.jpg); background-size: cover;"></div>
          <div class="text-xs-center">
            <div class="shop-descr">
              <h4>ТЦ “Арена”</h4>
              <hr/>
              <p>ул. Бульвар победы, 23б</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 shop">
          <div class="shop-bg" style="background: url(assets/img/ph-shop.jpg); background-size: cover;"></div>
          <div class="text-xs-center">
            <div class="shop-descr">
              <h4>ТЦ “Арена”</h4>
              <hr/>
              <p>ул. Бульвар победы, 23б</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 shop">
          <div class="shop-bg" style="background: url(assets/img/ph-shop.jpg); background-size: cover;"></div>
          <div class="text-xs-center">
            <div class="shop-descr">
              <h4>ТЦ “Арена”</h4>
              <hr/>
              <p>ул. Бульвар победы, 23б</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
