<section class="container-fluid section catalog">
  <div class="row">
    <div class="container">
      <div class="row section-content">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-lg-4 col-xl-3 filter">
              <form action="/">
                <fieldset class="form-group">
                  <h4>Бренды:</h4>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                </fieldset>
              </form>
              <form action="/">
                <fieldset class="form-group">
                  <h5>Порядок:</h5>
                  <div class="radio">
                    <label>
                      <input type="radio" name="alphabet" checked> от А до Я
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="alphabet"> от Я до А
                    </label>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <h5>Цена:</h5>
                  <div class="radio">
                    <label>
                      <input type="radio" name="price" checked> по возрастанию
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="price"> по убыванию
                    </label>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col-lg-8 col-xl-9 catalog-content">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
                  <a class="card text-xs-center" href="/detail.html">
                    <div class="card-block">
                      <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
                      <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                      <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
