<section class="container-fluid section contact">
  <div class="row">
    <div class="container">
      <div class="row section-header">
        <div class="col-xs-12 text-xs-center">
          <h2>Магазин в ТЦ “Арена”</h2>
        </div>
      </div>
      <div class="row section-content">
        <div class="col-xs-12 text-xs-center">
          <ul class="i-style">
            <li><p><i class="icon-location-pin"></i> ул. Героев сибиряков, 65а</p></li>
            <li><p><i class="icon-phone"></i> +7 (908) 549-50-90</p></li>
          </ul>
          <img class="img-fluid inline" src="assets/img/ph-map.png" alt="">
          <img class="img-fluid inline" src="assets/img/ph-way.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
