<section class="container-fluid section detail">
  <div class="row">
    <div class="container">
      <div class="row section-content">
        <div class="col-lg-6 images">
          <div class="row">
            <div class="col-xs-12">
              <div class="slider-preview">
                <div class="img-holder">
                  <div class="easyzoom">
                    <a href="assets/img/ph-watch-big.jpg">
                      <img src="assets/img/ph-watch-small.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="img-holder">
                  <div class="easyzoom">
                    <a href="assets/img/ph-watch-big.jpg">
                      <img src="assets/img/ph-watch-small.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="img-holder">
                  <div class="easyzoom">
                    <a href="assets/img/ph-watch-big.jpg">
                      <img src="assets/img/ph-watch-small.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="img-holder">
                  <div class="easyzoom">
                    <a href="assets/img/ph-watch-big.jpg">
                      <img src="assets/img/ph-watch-small.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="img-holder">
                  <div class="easyzoom">
                    <a href="assets/img/ph-watch-big.jpg">
                      <img src="assets/img/ph-watch-small.jpg" alt="" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 fit">
              <div class="slider-thumb">
                <div class="img-holder">
                  <img class="img-fluid" src="assets/img/ph-watch-thumb.jpg" alt="">
                </div>
                <div class="img-holder">
                  <img class="img-fluid" src="assets/img/ph-watch-thumb.jpg" alt="">
                </div>
                <div class="img-holder">
                  <img class="img-fluid" src="assets/img/ph-watch-thumb.jpg" alt="">
                </div>
                <div class="img-holder">
                  <img class="img-fluid" src="assets/img/ph-watch-thumb.jpg" alt="">
                </div>
                <div class="img-holder">
                  <img class="img-fluid" src="assets/img/ph-watch-thumb.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 description">
          <div class="row">
            <div class="col-xs-12">
              <h2>BREITLING AVENGER BLACKBIRD</h2>
              <p class="article text-muted">A1731010/BD12/100W</p>
              <hr />
              <div class="action">
                <div class="price pull-sm-left">
                  361 600 ₽
                </div>
                <a class="btn btn-primary-outline pull-sm-right" data-toggle="modal" data-target="#ask-modal">
                  Уточнить наличие
                </a>
              </div>
              <hr />
              <h5>Описание:</h5>
              <p class="text">Эти часы для дайверов, сохраняющие водонепроницаемость на глубине до 200 м, напоминают о функциональном и элегантном дизайне легендарной модели 1950-х годов.</p>
              <hr />
              <h5>Характеристики:</h5>
              <ul class="i-style">
                <li><p><i>—</i>Механизм: автомат</p></li>
                <li><p><i>—</i>Диаметр: 48 мм</p></li>
                <li><p><i>—</i>Стекло выпуклое сапфировое, с антибликовым покрытием с обoих сторон</p></li>
                <li><p><i>—</i>Водоустойчивость 30 бар (030 м)</p></li>
                <li><p><i>—</i>Запас хода: 48 часов</p></li>
                <li><p><i>—</i>Корпус: титановый с PVD покрытием</p></li>
                <li><p><i>—</i>Браслет: тканевый</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
