<section class="container-fluid footer bg-inverse">
  <div class="row">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-dark">
          <a class="navbar-brand" href="#"><img src="assets/img/logo-small.png" alt=""></a>
          <div class="pull-right payment">
            <p class="text-muted">Вы можете расплатиться:</p>
            <ul>
              <li class="i-1"></li>
              <li class="i-2"></li>
              <li class="i-3"></li>
              <li class="i-4"></li>
            </ul>
          </div>
          <div class="navbar-wrapper pull-xs-left pull-lg-right">
            <ul class="nav navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">новости</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ИДЕИ ПОДАРКОВ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">МАГАЗИНы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ОБРАТНАЯ СВЯЗЬ</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
