<section class="container-fluid section new">
  <div class="row">
    <div class="container">
      <div class="row section-header">
        <div class="col-xs-12 text-xs-center">
          <h2>новые поступления</h2>
          <a href="" class="btn btn-primary-outline">Все  поступления<i class="icon-arrow-right"></i></a>
        </div>
      </div>
      <div class="row section-content">
        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
          <a class="card text-xs-center" href="">
            <div class="card-block">
              <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
              <h4 class="card-title">King gold ceramic turbillon manufacture</h4>
              <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
          <a class="card text-xs-center" href="">
            <div class="card-block">
              <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
              <h4 class="card-title">King gold ceramic turbillon manufacture</h4>
              <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
          <a class="card text-xs-center" href="">
            <div class="card-block">
              <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
              <h4 class="card-title">King gold ceramic turbillon manufacture</h4>
              <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
          <a class="card text-xs-center" href="">
            <div class="card-block">
              <img src="assets/img/ph-watch.png" class="img-fluid" alt="">
              <h4 class="card-title">King gold ceramic turbillon manufacture</h4>
              <h6 class="card-subtitle text-muted">341.CV.130.CM.114</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
