<section class="container-fluid section news">
  <div class="row">
    <div class="container">
      <div class="row section-header">
        <div class="col-xs-12 text-xs-center">
          <h2>новости</h2>
          <a href="" class="btn btn-primary-outline">Все новости<i class="icon-arrow-right"></i></a>
        </div>
      </div>
      <div class="row section-content">
        <div class="col-xs-12 col-md-6 col-xl-3">
          <a class="card" href="">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-12 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-12 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                настолько очевидна, что
                постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3">
          <a class="card" href="">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-12 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-12 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3">
          <a class="card" href="">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-12 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-12 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Знач имость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-3">
          <a class="card" href="">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-12 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-12 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
