<section class="container-fluid section news news-page">
  <div class="row">
    <div class="container">
      <div class="row section-content">
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Знач имость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                настолько очевидна, что
                постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Знач имость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                настолько очевидна, что
                постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Знач имость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-12">
          <a class="card" href="/news-detail.html">
            <div class="card-block">
              <div class="col-sm-6 col-md-12 col-lg-3 card-img">
                <img src="assets/img/ph-news.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-6 col-md-12 col-lg-9 card-descr">
                <p class="card-date">15.09.2015</p>
                <h4 class="card-title"><span>King gold ceramic turbillon manufacture</span></h4>
                <p class="card-text">Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество
                  Значимость этих проблем
                  настолько очевидна, что
                  постоянное сотрудничество</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
