<section class="container-fluid section service">
  <div class="row">
    <div class="container">
      <div class="row section-header">
        <div class="col-xs-12">
          <h2 class="text-xs-center">Сервисный центр</h2>
        </div>
      </div>
      <div class="row section-content">
        <div class="col-md-6 left">
          <div class="row">
            <div class="col-xs-12">
              <h5>Время работы:</h5>
              <p>Пн-Пн с <b>9:00</b> - <b>18:00</b></p>
              <p>Сб-Вс с <b>9:00</b> - <b>18:00</b></p>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h5>Наши специалисты:</h5>
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6 employee">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-5">
                      <img data-src="holder.js/70x70?auto=yes" alt="" class="img-fluid">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-7 p-l-0">
                      <h6>Иванов Иван Иванович</h6>
                      <p class="text-muted">сотрудник </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6 employee">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-5">
                      <img data-src="holder.js/70x70?auto=yes" alt="" class="img-fluid">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-7 p-l-0">
                      <h6>Иванов Иван</h6>
                      <p class="text-muted">сотрудник </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6 employee">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-5">
                      <img data-src="holder.js/70x70?auto=yes" alt="" class="img-fluid">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-7 p-l-0">
                      <h6>Иванов Иван</h6>
                      <p class="text-muted">сотрудник </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6 employee">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-5">
                      <img data-src="holder.js/70x70?auto=yes" alt="" class="img-fluid">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-7 p-l-0">
                      <h6>Иванов Иван</h6>
                      <p class="text-muted">сотрудник </p>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-xs-12">
                  <h5>Сертификаты:</h5>
                  <div class="row">
                    <div class="col-xs-3 cert">
                      <img data-src="holder.js/70x70?auto=true" class="img-fluid" alt="">
                    </div>
                    <div class="col-xs-3 cert">
                      <img data-src="holder.js/70x70?auto=true" class="img-fluid" alt="">
                    </div>
                    <div class="col-xs-3 cert">
                      <img data-src="holder.js/70x70?auto=true" class="img-fluid" alt="">
                    </div>
                    <div class="col-xs-3 cert">
                      <img data-src="holder.js/70x70?auto=true" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 right">
          <img class="img-fluid inline" src="assets/img/ph-map.png" alt="">
          <img class="img-fluid inline" src="assets/img/ph-way.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
