
ul.i-style {
  list-style: none;
  padding-left: 0;
  i {
    color: $brand-primary;
    margin-right: $spacer/2;
  }
  p {
    margin-bottom: $spacer/2;
  }
}
a.btn {
  i {
    display: inline-block;
    position: relative;
    font-size: 0.6em;
    top: -0.1em;
    margin-left: $spacer/2;
  }
}

p {
  font-family: Tinos;
}

.card {
  padding-top: $spacer;
  padding-bottom: $spacer;
  margin-bottom: $spacer*2;
  .card-block {
    img.img-fluid {
      max-height: rem(250px);
      display: inline-block;
    }
    .card-title {
      font-weight: 700;
      font-size: rem(18px);
      text-transform: uppercase;
      margin-top: $spacer*2;
      height: 50px;
      overflow: hidden;
      margin-bottom: $spacer/2;
      line-height: 1.3;
      span {
        border-bottom: 1px dotted rgba(0,0,0,0);
        transition: all 0.1s linear;
      }
    }
    .card-text {
      height: 50px;
      overflow: hidden;
    }
  }
}
a.card {
  color: $gray-dark;
  transition: all 0.3s linear;
  .card-title{
    @include media-breakpoint-down(sm){
        height: auto !important;
    }
  }
  @include hfa {
    color: lighten($gray-dark,10);
    text-decoration: none;
    border-color: $gray-light;
    .card-title {
      span{
        color: lighten($gray,10);
        border-bottom: 1px dotted lighten($gray,30);
        display: inline;
      }
    }
  }
}
.breadcrumb {
  border-bottom: 1px solid $gray-lighter;
  &>li {
    display: inline-block;
    float: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      color: $gray;
      @include hfa {
        color: lighten($gray,10);
      }
    }
  }
}
.header.bg-inverse {
  background-color: black;
}
